
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-block:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */